*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.header{
  width: 100%;
  height: 100px;
  background-color: rgb(15, 122, 3);
  display: block;
  img{
    width: 70px;
    margin-left: 100px;
    margin-top: 5px;
    
  }
  h1{
    margin-left: 190px;
    margin-top: -75px;
    color: #3efb05;
    
  }
  div{
    display: flex;
    gap: 30px;
    margin-left: 530px;
    p{
      color: #7af255a2;
      margin-top: -25px;
      cursor: pointer;
    }
  }
}
.body{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 175px;
  padding-top:  50px;
  background-color: #15930fb4;
  .box{ 
    overflow: hidden;
    width: 320px;
    border-radius: 4px;
    height: 370px;
    border: 10px solid #3efb05;
    img{
      width: 300px;
      border-radius: 8px;
      height: 300px;
      object-fit: cover;
    }
  }
}
.miniBox{
  width: 300px;
  height: 50px;
  background-color: #3efb05;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4px;
  cursor: pointer;
  p{
    color: #fff;
    /* margin-left: 5px; */
    font-size: 25px;
    font-weight: 600;
  }
}
a{
  text-decoration: none;
}